{% head %}
  <title>Página não encontrada.</title>
  <link rel="stylesheet" type="text/css" href="/pages/not_found_above.css" inline>
{% endhead %}

<div class="not-found container-fluid">
  <h1 class="title">Página não encontrada :(</h1>
  <p class="description">Desculpe, mas não localizamos a página. Por favor, verifique o endereço digitado, ou continue navegando pelo site.</p>
  <a href="/" class="button-default">Continuar no site</a>
</div>
