@import "../base/mixins";

.product-block {

  display: flex;
  flex-direction: column;
  position: relative;
  transition: var(--transition);
  width: 100%;
  justify-content: space-between;

  .swiper-autoheight .swiper-wrapper {
    height: 100% !important; 
  }

  &:hover .images figure img:nth-child(2) {
    opacity: 1;
    transition: ease .5s opacity;
  }

  &.sold-out {
    position: relative;
    z-index: 1;
    opacity: 0.5;
  }
  &:hover {
    .images {
      .add-to-cart {
        opacity: 1;
        .attributes {
          transform: translateY(0);
        }
      }
    }
  }
  > .images {
    margin-bottom: 1rem;
    position: relative;
    .add-to-cart {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      flex-direction: column;
      width: 100%;
      opacity: 0;
      transition: ease .5s opacity;
      .actions-wrapper {
        .button-default {
          width: 100%;
          border-radius: 0;
        }
      }
      .option-title {
        font-size: 0;
      }
      .attributes {
        gap: .65rem;
        justify-items: center;
        background-color: rgba($color: #fff, $alpha: .8);
        padding-bottom: .5rem;
        transform: translateY(25px);
        transition: ease .5s;
        >.prod-option {
          input[type=radio] {
            &:checked {
              +.label {
                .color,
                .text {
                  background-color: var(--highlight-1);
                  color: #fff;
                  border-color: var(--highlight-1);
                }
              }
            }
          }
          .label{
            .text {
              border: 1px solid;
              border-radius: 0;
            }
          }
        }
      }
    }
  }

  > .images figure {
    transition: var(--transition);

    img:nth-child(2) {
      opacity: 0;
    }
  }

  > .description .quantity {
    font-size: var(--font-size-small);
    margin-top: 1rem;
    display: none;
  }

  > .description .name {
    transition: var(--transition);
  }

  > .description .name a {
    font-size: var(--font-size-small);
  }

  > .button-default {
    margin-top: 0rem;
    width: 100%;
    opacity: 0;
  }

  @import "./flag";
  @import "./price";
}
