@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Gotham Book';
    src: url("../fonts/gotham-book.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rondal';
    src: url("../fonts/rondal-bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Rondal';
    src: url("../fonts/rondal-regular.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Rondal';
    src: url("../fonts/rondal-semibold.otf") format("opentype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}