{% load_banners position: "newsletter-rodape" limit: 1 %}

{% for banner in loaded_banners %}
<div class="newsletter">
  {% if banner.subtitle %}
  <div class="content">
    <h3 class="newsletter__title subtitle">{{ banner.subtitle }}</h3>
    {% comment %}
    <p>
      {{ banner.description | strip_html }}
    </p>
    {% endcomment %}
  </div>

  <form class="form-newsletter" data-webform="newsletter" name="newsletter" id="newsletter-form">
    <fieldset form="newsletter-form">
      <input type="hidden" name="key" value="{{ current_shop.subdomain }}-newsletter">
      <input id="reply_to" name="reply_to" type="hidden" value="">

      <input type="text" name="vnda" tabindex="-1" autocomplete="off" required />

      <input class="input" name="name" placeholder="Nome" required type="text">
      <input class="input" name="email" placeholder="Email" required type="email">

      <button aria-label="Se inscrever na newsletter" class="action button-white -outlined" type="button">
        ENVIAR
      </button>
      <div class="messages" data-msg-retorno>
        <p class="msg-received" data-msg></p>
        <p class="msg-received msg-success" data-msg-success>Obrigado! Enviado com sucesso.</p>
        {% comment %}
        <p class="msg-received msg-error" data-msg-error>Problema ao enviar, tente novamente.</p>
        {% endcomment %}
      </div>
    </fieldset>
  </form>
  {% endif %}
</div>
{% endfor %}