@import "../base/mixins";
@import "../content/product/banner";
@import "../content/product/group_shop";
@import "../components/carousel";

.mz-zoom-window {
  z-index: 0 !important;
}
.related-products {
  h2 {
    text-align: center;
    padding-bottom: 56px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}
