@import "../base/mixins";

@import "../content/tag/banner_topo";
@import "../content/tag/filters";
@import "../content/tag/empty";

.section-list-products {
  .list-content {
    display: flex;
    flex-direction: column;

    @include media("md") {
      flex-direction: row;
    }
  }

  .list-products {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    @media screen and (max-width:600px){
      grid-template-columns: 1fr;
    }

    @include media("md") {
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      padding-left: 0%;
      width: 100%;
    }

    .bannersGrid__first {
      grid-row: 3;
      grid-column: span 2;
      @media screen and (max-width:768px) {
        grid-column: 1;
      }
    }

    @media(min-width: 991px) {
      .bannersGrid__first {
        grid-row: 2
      }
    }

    .bannersGrid__first img {
      width: 100%;
      height: auto
    }

    .bannersGrid__first.esconder {
      display: none !important
    }

    .bannersGrid__second {
      grid-row: 8;
      grid-column: span 2;
      @media screen and (max-width:768px) {
        grid-column: 1;
      }
    }

    @media(min-width: 991px) {
      .bannersGrid__second {
        grid-column: 3/5;
        grid-row: 4
      }
    }

    .bannersGrid__second img {
      width: 100%;
      height: auto
    }

    .bannersGrid__second.esconder {
      display: none !important
    }

    .bannersGrid__third {
      grid-row: 12;
      grid-column: span 2;
      @media screen and (max-width:768px) {
        grid-column: 1;
      }
    }

    @media(min-width: 991px) {
      .bannersGrid__third {
        grid-row: 6;
      }
    }

    .bannersGrid__third img {
      width: 100%;
      height: auto
    }

    .bannersGrid__third.esconder {
      display: none !important
    }
  }
}