@import "../base/mixins";

.product-block {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: var(--transition);
  justify-content: space-between;
  width: 100%;

  &:hover .images figure img:nth-child(2) {
    opacity: 1;
  }

  &.sold-out {
    position: relative;
    z-index: 1;
    opacity: 0.5;
  }

  > .images {
    margin-bottom: 1rem;
    position: relative;
  }

  > .images figure {
    transition: var(--transition);

    img:nth-child(2) {
      opacity: 0;
    }
  }

  > .description .quantity {
    font-size: var(--font-size-small);
    margin-top: 1rem;
    display: none;
  }

  > .description .name {
    min-height: 2rem;
    transition: var(--transition);
    font-weight: 400;
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
  }

  > .description .name a {
    font-size: 14px;
  }

  > .button-default {
    margin-top: 1rem;
    width: 100%;
  }

  > .add-to-cart {
    display: none;
  }

  @import "./flag";
  @import "./price";
}
