<div class="actions">
  <div class="account">
    <a aria-label="Minha Conta" href="{{ account_url }}">
      <svg class="icon">
        <use xlink:href="#icon-account"/>
      </svg>
    </a>
  </div>

  <div class="cart">
    <button type="button" class="btn-cart" aria-label="Abrir carrinho" data-toggle-cart>
      <svg class="icon"><use xlink:href="#icon-cart"/></svg>
      <span class="count" data-cart-count>0</span>
    </button>
  </div>
</div>
