<div class="search">
  <form class="search-form" action="{{ search_url }}">
    <button aria-label="Pesquisar" class="action" data-action="show-form-search">
      <svg class="icon">
        <use xlink:href="#icon-search"></use>
      </svg>
    </button>
    <div class="field">
      <input name="q" placeholder="Buscar" required type="search"/>
    </div>
  </form>
</div>
