.social {
  align-items: flex-start;
  display: flex;
  grid-area: social;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0;

  @include media("sm") {
    align-items: center;
    flex-direction: row;
  }

  > .secondary-banner {
    margin-bottom: 2rem;

    @include media("sm") {
      margin-bottom: 0;
    }
  }

  > .secondary-banner .image {
    max-width: 14rem;
    width: 100%;
  }

  > .secondary-banner .image img {
    object-fit: contain;
  }

  > .social-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.2rem;
    width: 100%;

    @include media("sm") {
      justify-content: flex-end;
      margin-top: 0;
      width: 50%;
    }
  }

  > .social-icons a {
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-left: 0;
    margin-right: 1.5rem;
    padding: 0.5rem;
    width: 30px;

    @include media("sm") {
      margin-left: 1.5rem;
      margin-right: 0;
    }
  }

  > .social-icons a .icon {
    color: var(--highlight-1);
    height: 1.4rem;
    transition: var(--transition);
    width: 1.4rem;
  }

  > .social-icons a:hover .icon {
    color: var(--highlight-2);
  }
}
