<div class="popup-purchase" data-popup-purchase>
  <span class="background" data-close-popup-purchase data-processed="false"></span>
  <div class="content">
    <p class="title-popup">Selecione as características</p>

    <button aria-label="Fechar popup de compra" class="close" data-close-popup-purchase data-processed="false" type="button">
      <svg class="icon"><use xlink:href="#icon-close"/></svg>
    </button>

    <div class="product" data-product-box data-product-unique-id></div>
  </div>
</div>
