.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @include media("sm") {
    flex-direction: row;
  }

  .category-item {
    flex: 1;
    background-color: #f47e6270;
    border-radius: 16px;
    overflow: hidden;

    // &:first-child {
      // margin-bottom: 2rem;

      // @include media("sm") {
      //   margin-bottom: 0;
      //   margin-right: 2rem;
      // }
    // }
  }

  .category-item .image::after {
    padding-bottom: 116%;
  }

  .category-item .text {
    padding: 16px;
    margin-top: 0;
    text-align: center;

    @include media("sm") {
      text-align: left;
    }
    .title {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .category-item .text .arrow {
    color: var(--primary-color);
    display: block;
    font-size: var(--font-size-base);
    font-weight: 700;
    margin-top: 2rem;
    transition: var(--transition);

    &:hover {
      transform: translateX(1.5rem);
    }

    &:after {
      content: "";
      display: inline-block;
      border-color: var(--primary-color);
      border-style: solid;
      border-width: 0 2px 2px 0;
      margin: 3px 3px 1px 8px;
      padding: 3px;
      transform: rotate(-45deg);
      transition: var(--transition);
    }
  }
}
