.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .item {
    align-items: center;
    display: flex;
    flex: 1;
    margin-bottom: 2rem;
    // flex-direction: column;
    gap: 10px;
    text-align: center;

    @include media("sm") {
      margin-bottom: 0;
      margin-right: 4rem;
    }

    &:last-child {
      margin-right: 0;
    }

    .image-icon {
      height: 60px;
      margin-right: 1rem;
      position: relative;
      width: 30%;

      img {
        height: 100%;
        object-fit: contain;
        width: 100%;
      }
    }

    .text {
      width: 70%;
      text-transform: uppercase;
      font-size: 16px;
      > p {
        margin-bottom: 0;
        font-weight: 700;
        color: #f47e62;

      }
      span {
        font-size: 12px !important;
        font-weight: 400;
        color: #000000 !important;
      }
    }
  }

  @include media("sm") {
    flex-direction: row;
  }
}
