<footer class="footer">
  <div class="content newsletter-section">
    <div class="container">
      {% comment %}
      {% render "partials/content/footer/banner", section: 'main-banner' position: 'rodape-logo-principal', type: '-square', limit: 1 %}
      {% endcomment %}
      {% render "partials/content/footer/newsletter", current_shop: current_shop %}
    </div>
  </div>
  <div class="content container">
    {% comment %}
    {% render "partials/content/footer/paragraph" %}
    {% render "partials/content/footer/payment" %}
    {% render "partials/content/footer/signature" %}
    {% endcomment %}
    {% render "partials/content/footer/categories" %}
  </div>
  <div class="content container">
    <div class="footer__area footer__area--bottom">
      <div class="footer__container footer__container--bottom">
        <div class="footer__copyright">
          <p>
            © LE BRONSTEIN - FRED E LE CONFECCOES EIRELI -  CNPJ: 09.553.274/0002-63
          </p>
        </div>
        <div class="footer__dev">
          <a
            href="http://www.maharamarketing.com.br/"
            target="_blank"
            rel="noopener noreferrer"><img src="" alt="Mahara Marketing">MAHARA LOGO</a>
        </div>
      </div>
    </div>
  </div>
</footer>