<footer class="footer">
  <div class="content newsletter-section">
    <div class="container">
      {% comment %}
      {% render "partials/content/footer/banner", section: 'main-banner' position: 'rodape-logo-principal', type: '-square', limit: 1 %}
      {% endcomment %}
      {% render "partials/content/footer/newsletter", current_shop: current_shop %}
    </div>
  </div>
  <div class="content container">
    {% comment %}
    {% render "partials/content/footer/paragraph" %}
    {% render "partials/content/footer/payment" %}
    {% render "partials/content/footer/signature" %}
    {% endcomment %}
    {% render "partials/content/footer/categories" %}
  </div>
  <div class="content container">
    <div class="footer__area footer__area--bottom">
      <div class="footer__container footer__container--bottom">
        <div class="footer__copyright">
          <p>© 2018 CRIS BARROS - LOJA ONLINE <br>
            GRUPO DE MODA SOMA S.A. <br>
            CNPJ: 10.285.590/0133-40 <br>
            EST TENENTE MARQUES 1818, SALA 3-B - PARQUE PANORAMA II (FAZENDINHA) - SANTANA DO PARNAIBA - SP - 06534-030<!-- ATENÇÃO, esse erro prejudica a performance do seu site, o conteudo de nome Copy Right não foi renderizado por nao ser um XDocument válido, erro: - The 'br' start tag on line 3 position 27 does not match the end tag of 'html'. Line 4, position 110.--></p>
        </div>
        <div class="footer__dev">
          <a
            href="http://www.e-thinkers.com.br/"
            target="_blank"
            rel="noopener noreferrer"><img src="https://lojacrisbarros.vtexassets.com/arquivos/ethinkers.png?v=637060766038430000" alt="VTEX"></a>
          <a
            href="https://www.vtex.com"
            target="_blank"
            rel="noopener noreferrer"><img src="https://lojacrisbarros.vtexassets.com/arquivos/logo-vtex-footer.png?v=637060765988370000" alt="VTEX"></a>
        </div>
      </div>
    </div>
  </div>
</footer>