<div id="icons" style="display: none;">
  <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
    {%- comment -%} Redes sociais {%- endcomment -%}
    <symbol id="icon-facebook" viewbox="0 0 320 512">
      <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-instagram" viewbox="0 0 24 24">
      <path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-youtube" viewbox="0 0 24 24">
      <path d="M23.495 6.205a3.007 3.007 0 00-2.088-2.088c-1.87-.501-9.396-.501-9.396-.501s-7.507-.01-9.396.501A3.007 3.007 0 00.527 6.205a31.247 31.247 0 00-.522 5.805 31.247 31.247 0 00.522 5.783 3.007 3.007 0 002.088 2.088c1.868.502 9.396.502 9.396.502s7.506 0 9.396-.502a3.007 3.007 0 002.088-2.088 31.247 31.247 0 00.5-5.783 31.247 31.247 0 00-.5-5.805zM9.609 15.601V8.408l6.264 3.602z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-whatsapp" viewbox="0 0 24 24">
      <path d="M17.498 14.382c-.301-.15-1.767-.867-2.04-.966-.273-.101-.473-.15-.673.15-.197.295-.771.964-.944 1.162-.175.195-.349.21-.646.075-.3-.15-1.263-.465-2.403-1.485-.888-.795-1.484-1.77-1.66-2.07-.174-.3-.019-.465.13-.615.136-.135.301-.345.451-.523.146-.181.194-.301.297-.496.1-.21.049-.375-.025-.524-.075-.15-.672-1.62-.922-2.206-.24-.584-.487-.51-.672-.51-.172-.015-.371-.015-.571-.015-.2 0-.523.074-.797.359-.273.3-1.045 1.02-1.045 2.475s1.07 2.865 1.219 3.075c.149.195 2.105 3.195 5.1 4.485.714.3 1.27.48 1.704.629.714.227 1.365.195 1.88.121.574-.091 1.767-.721 2.016-1.426.255-.705.255-1.29.18-1.425-.074-.135-.27-.21-.57-.345m-5.446 7.443h-.016c-1.77 0-3.524-.48-5.055-1.38l-.36-.214-3.75.975 1.005-3.645-.239-.375a9.869 9.869 0 01-1.516-5.26c0-5.445 4.455-9.885 9.942-9.885a9.865 9.865 0 017.021 2.91 9.788 9.788 0 012.909 6.99c-.004 5.444-4.46 9.885-9.935 9.885M20.52 3.449C18.24 1.245 15.24 0 12.045 0 5.463 0 .104 5.334.101 11.893c0 2.096.549 4.14 1.595 5.945L0 24l6.335-1.652a12.062 12.062 0 005.71 1.447h.006c6.585 0 11.946-5.336 11.949-11.896 0-3.176-1.24-6.165-3.495-8.411" fill="currentColor"/>
    </symbol>
    <symbol id="icon-vsco" viewbox="0 0 24 24">
      <path d="M12 0C5.376 0 0 5.376 0 12s5.376 12 12 12 12-5.376 12-12S18.624 0 12 0zm11.52 12c0 .408-.023.792-.072 1.176l-2.04-.24c.024-.312.05-.624.05-.936 0-.288-.025-.6-.05-.888l2.04-.24c.072.384.072.744.072 1.128zM.479 12c0-.384.024-.769.049-1.152l2.04.24c-.024.312-.047.6-.047.912s.023.6.047.912l-2.04.24C.479 12.769.479 12.384.479 12zm20.472-3.096l1.921-.72a11.6 11.6 0 01.552 2.232l-2.04.24c-.097-.6-.24-1.2-.433-1.752zM21 12c0 .6-.072 1.176-.167 1.752l-2.017-.455c.071-.409.119-.841.119-1.297s-.048-.912-.119-1.344l2.017-.457c.118.577.167 1.177.167 1.801zm-9 6.456A6.458 6.458 0 015.544 12 6.458 6.458 0 0112 5.544 6.458 6.458 0 0118.456 12a6.442 6.442 0 01-6.429 6.456H12zM12.216 21v-2.064a7.054 7.054 0 002.568-.575l.888 1.872a9.01 9.01 0 01-3.456.767zm-3.936-.791l.912-1.873a6.64 6.64 0 002.568.6V21a8.807 8.807 0 01-3.48-.791zM3 12c0-.624.072-1.224.192-1.824l2.016.456c-.098.45-.146.908-.144 1.368 0 .432.048.864.12 1.272l-2.016.455A8.144 8.144 0 013 12zm8.76-9v2.064a6.91 6.91 0 00-2.544.576l-.888-1.871A9.069 9.069 0 0111.76 3zm3.935.792l-.911 1.872a6.58 6.58 0 00-2.568-.576V3.024c1.248 0 2.424.288 3.479.768zm5.088 4.656a10.156 10.156 0 00-.84-1.608l1.681-1.152a12.7 12.7 0 011.056 2.04l-1.897.72zm-.07 1.296l-2.018.456a6.913 6.913 0 00-1.151-2.352l1.632-1.295c.72.959 1.248 2.015 1.537 3.191zm-3.457-2.256a7.048 7.048 0 00-2.04-1.633l.912-1.871a9.107 9.107 0 012.76 2.208l-1.632 1.296zm-.6-3.744l.96-1.824a12.82 12.82 0 011.896 1.32L18.145 4.8a9.228 9.228 0 00-1.489-1.056zm-.408-.216a10.036 10.036 0 00-1.68-.648l.504-1.992a11.8 11.8 0 012.159.84l-.983 1.8zm-2.16-.768c-.6-.144-1.2-.216-1.824-.239V.479c.793.024 1.584.12 2.328.289l-.504 1.992zm-2.28-.239a10.79 10.79 0 00-1.8.216L9.528.744c.72-.168 1.487-.265 2.28-.265v2.042zm-2.28.334c-.586.167-1.156.384-1.704.649l-.96-1.824a11.655 11.655 0 012.16-.816l.504 1.991zm-2.112.865a9.186 9.186 0 00-1.488 1.032L4.56 3.216c.6-.504 1.224-.936 1.896-1.319l.96 1.823zm.48.264l.888 1.871a7.04 7.04 0 00-2.04 1.608L5.136 6.168a9.422 9.422 0 012.76-2.184zM4.848 6.552l1.608 1.295A6.947 6.947 0 005.304 10.2l-2.016-.456c.312-1.2.84-2.28 1.56-3.192zM3.24 8.4l-1.92-.72c.287-.72.648-1.416 1.08-2.04l1.68 1.176A7.68 7.68 0 003.24 8.4zm-.168.455c-.192.577-.36 1.152-.432 1.776L.6 10.393c.12-.769.288-1.537.553-2.257l1.919.719zm-.456 4.513c.096.6.239 1.2.432 1.776l-1.92.72a10.007 10.007 0 01-.552-2.257l2.04-.239zm.624 2.208c.239.576.528 1.104.84 1.607L2.4 18.336a10.155 10.155 0 01-1.08-2.016l1.92-.744zm.024-1.392l2.017-.456a6.994 6.994 0 001.128 2.376L4.8 17.4a8.855 8.855 0 01-1.536-3.216zm3.432 2.28A6.92 6.92 0 008.76 18.12l-.912 1.872a9.292 9.292 0 01-2.784-2.232l1.632-1.296zm.72 3.815l-.96 1.825a11.61 11.61 0 01-1.896-1.321l1.368-1.535c.456.407.936.744 1.488 1.031zm.408.217c.528.264 1.104.48 1.705.647l-.504 1.992a11.078 11.078 0 01-2.16-.815l.959-1.824zm2.16.768c.576.12 1.176.193 1.8.217v2.039a14.415 14.415 0 01-2.305-.264l.505-1.992zm2.28.216a10.712 10.712 0 001.801-.217l.479 1.992c-.749.168-1.513.264-2.28.287V21.48zm2.257-.336a10.361 10.361 0 001.703-.647l.96 1.824c-.688.35-1.412.623-2.159.815l-.504-1.992zm2.086-.865a9.07 9.07 0 001.488-1.031l1.369 1.535a11.74 11.74 0 01-1.896 1.321l-.961-1.825zm-.479-.263l-.888-1.871a6.93 6.93 0 002.064-1.656l1.606 1.296a9.564 9.564 0 01-2.782 2.231zm3.071-2.592l-1.607-1.296a6.583 6.583 0 001.128-2.376l2.017.456a9.736 9.736 0 01-1.538 3.216zM20.76 15.6l1.92.721a11.12 11.12 0 01-1.079 2.04l-1.682-1.177a8.367 8.367 0 00.841-1.584zm.168-.455c.192-.553.336-1.152.433-1.752l2.039.239c-.11.761-.294 1.508-.551 2.232l-1.921-.719zm.456-9.841l-1.681 1.152c-.358-.49-.76-.947-1.199-1.368l1.368-1.536a14.934 14.934 0 011.512 1.752zM4.2 3.528l1.368 1.536c-.456.408-.84.864-1.2 1.368l-1.68-1.176A9.395 9.395 0 014.2 3.528zM2.664 18.744l1.68-1.152c.36.48.769.937 1.2 1.369l-1.368 1.535a15.178 15.178 0 01-1.512-1.752zm17.16 1.729l-1.368-1.537c.432-.407.841-.863 1.199-1.344l1.682 1.176a14.76 14.76 0 01-1.513 1.705z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-vimeo" viewbox="0 0 24 24">
      <path d="M23.977 6.416c-.105 2.338-1.739 5.543-4.894 9.609-3.268 4.247-6.026 6.37-8.29 6.37-1.409 0-2.578-1.294-3.553-3.881L5.322 11.4C4.603 8.816 3.834 7.522 3.01 7.522c-.179 0-.806.378-1.881 1.132L0 7.197a315.065 315.065 0 003.501-3.128C5.08 2.701 6.266 1.984 7.055 1.91c1.867-.18 3.016 1.1 3.447 3.838.465 2.953.789 4.789.971 5.507.539 2.45 1.131 3.674 1.776 3.674.502 0 1.256-.796 2.265-2.385 1.004-1.589 1.54-2.797 1.612-3.628.144-1.371-.395-2.061-1.614-2.061-.574 0-1.167.121-1.777.391 1.186-3.868 3.434-5.757 6.762-5.637 2.473.06 3.628 1.664 3.493 4.797l-.013.01z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-twitter" viewbox="0 0 24 24">
      <path d="M23.954 4.569a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.691 8.094 4.066 6.13 1.64 3.161a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.061a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.937 4.937 0 004.604 3.417 9.868 9.868 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63a9.936 9.936 0 002.46-2.548l-.047-.02z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-swarm" viewbox="0 0 24 24">
      <path d="M12.367 8.755l.004-.005c-.03-.058-.138-.3-.16-.364v-.002C8.828 1.474 1.314 1.72.128 4.81c-.91 2.373 3.072 8.026 12.24 3.945zM9.9 19.232a11.201 11.201 0 01-.957-4.26c-.964 1.49-1.69 2.987-2.176 4.104-.023.045-.38.93-.482 1.2-.13.33.045.734.383.854.273.104 1.165.42 1.22.45 1.14.374 2.716.84 4.456 1.126a11.001 11.001 0 01-2.445-3.496v.022zm3.99-11.115c5.18-2.306 4.456-6.31 3.116-6.825-1.804-.693-5.08 1.974-3.205 6.62.016.033.09.17.09.205zm9.523 5.069v-.008a6.758 6.758 0 00-3.897-3.624 1.444 1.444 0 00-.51-.09c-.87 0-1.707.723-1.785 1.626-.134 1.506.165 3.04.825 4.516.646 1.46 1.566 2.69 2.75 3.596.31.24.684.36 1.063.36.677 0 1.354-.36 1.623-1.005a6.79 6.79 0 00-.067-5.37zm-3.931 7.732h-.004c-1.445-1.11-2.594-2.6-3.41-4.43-.826-1.86-1.164-3.738-1.004-5.586a3.773 3.773 0 01.438-1.465l-.137.035c-.764.19-1.5.52-2.156.953-.95.625-1.788 1.55-2.15 2.646a4.03 4.03 0 00-.193.93 9.206 9.206 0 003.457 7.927c.684.547 1.92.89 2.93.89.95 0 1.887-.27 2.73-.704.263-.137.84-.493.878-.524a3.681 3.681 0 01-1.38-.66v-.012z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-rss" viewbox="0 0 24 24">
      <path d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415a3.3 3.3 0 013.293 3.295A3.303 3.303 0 013.283 24C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z"/>
    </symbol>
    <symbol id="icon-pinterest" viewbox="0 0 24 24">
      <path d="M12.017 0C5.396 0 .029 5.367.029 11.987c0 5.079 3.158 9.417 7.618 11.162-.105-.949-.199-2.403.041-3.439.219-.937 1.406-5.957 1.406-5.957s-.359-.72-.359-1.781c0-1.663.967-2.911 2.168-2.911 1.024 0 1.518.769 1.518 1.688 0 1.029-.653 2.567-.992 3.992-.285 1.193.6 2.165 1.775 2.165 2.128 0 3.768-2.245 3.768-5.487 0-2.861-2.063-4.869-5.008-4.869-3.41 0-5.409 2.562-5.409 5.199 0 1.033.394 2.143.889 2.741.099.12.112.225.085.345-.09.375-.293 1.199-.334 1.363-.053.225-.172.271-.401.165-1.495-.69-2.433-2.878-2.433-4.646 0-3.776 2.748-7.252 7.92-7.252 4.158 0 7.392 2.967 7.392 6.923 0 4.135-2.607 7.462-6.233 7.462-1.214 0-2.354-.629-2.758-1.379l-.749 2.848c-.269 1.045-1.004 2.352-1.498 3.146 1.123.345 2.306.535 3.55.535 6.607 0 11.985-5.365 11.985-11.987C23.97 5.39 18.592.026 11.985.026L12.017 0z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-messenger" viewbox="0 0 24 24">
      <path d="M0 11.64C0 4.95 5.24 0 12 0s12 4.95 12 11.64-5.24 11.64-12 11.64c-1.21 0-2.38-.16-3.47-.46a.96.96 0 00-.64.05L5.5 23.92a.96.96 0 01-1.35-.85l-.07-2.14a.97.97 0 00-.32-.68A11.39 11.39 0 010 11.64zm8.32-2.19l-3.52 5.6c-.35.53.32 1.14.82.75l3.79-2.87c.26-.2.6-.2.87 0l2.8 2.1c.84.63 2.04.4 2.6-.48l3.52-5.6c.35-.53-.32-1.13-.82-.75l-3.79 2.87c-.25.2-.6.2-.86 0l-2.8-2.1a1.8 1.8 0 00-2.61.48z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-flickr" viewbox="0 0 24 24">
      <path d="M0 12a5.565 5.565 0 005.565 5.564c3.075 0 5.569-2.49 5.569-5.564S8.641 6.436 5.565 6.436A5.566 5.566 0 000 12zm12.866 0a5.565 5.565 0 005.567 5.564C21.496 17.564 24 15.074 24 12s-2.492-5.564-5.564-5.564A5.567 5.567 0 0012.866 12z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-linkedin" viewbox="0 0 19.102 18.259">
      <path d="M4.336,18.259V5.94H.241V18.259Zm-2.047-14A2.135,2.135,0,1,0,2.316,0a2.134,2.134,0,1,0-.054,4.256h.027Zm4.313,14H10.7v-6.88a2.8,2.8,0,0,1,.135-1,2.241,2.241,0,0,1,2.1-1.5c1.482,0,2.074,1.13,2.074,2.786v6.591H19.1V11.2c0-3.784-2.02-5.545-4.714-5.545A4.078,4.078,0,0,0,10.67,7.726H10.7V5.939H6.6c.054,1.156,0,12.319,0,12.319Z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-tiktok" viewbox="0 0 2859 3333">
      <path d="M2081 0c55 473 319 755 778 785v532c-266 26-499-61-770-225v995c0 1264-1378 1659-1932 753-356-583-138-1606 1004-1647v561c-87 14-180 36-265 65-254 86-398 247-358 531 77 544 1075 705 992-358V1h551z" fill="currentColor"/>
    </symbol>
    {%- comment -%} Fim Redes sociais {%- endcomment -%}

    <symbol id="icon-down" viewbox="0 0 320 512">
      <path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z" fill="currentColor"></path>
    </symbol>
    <symbol id="icon-unlock-alt" viewbox="0 0 448 512">
      <path d="M400 256H152V152.9c0-39.6 31.7-72.5 71.3-72.9 40-.4 72.7 32.1 72.7 72v16c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24v-16C376 68 307.5-.3 223.5 0 139.5.3 72 69.5 72 153.5V256H48c-26.5 0-48 21.5-48 48v160c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zM264 408c0 22.1-17.9 40-40 40s-40-17.9-40-40v-48c0-22.1 17.9-40 40-40s40 17.9 40 40v48z" fill="currentColor"></path>
    </symbol>
    <symbol fill="none" id="icon-arrow-left" viewbox="0 0 12 21">
      <path d="M10.4727 2.16093L1.74545 10.808L10.4727 19.455" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" stroke="currentColor"/>
    </symbol>
    <symbol fill="none" id="icon-arrow-right" viewbox="0 0 12 21">
      <path d="M1.60001 19.25L10.2667 10.5001L1.60001 1.75011" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" stroke="currentColor"/>
    </symbol>
    <symbol fill="none" id="icon-cart" viewbox="0 0 21 21">
      <path d="M7.875 19.75C8.35824 19.75 8.75 19.3583 8.75 18.875C8.75 18.3917 8.35824 18 7.875 18C7.39175 18 7 18.3917 7 18.875C7 19.3583 7.39175 19.75 7.875 19.75Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
      <path d="M17.5 19.75C17.9833 19.75 18.375 19.3633 18.375 18.88C18.375 18.3967 17.9833 18 17.5 18C17.0167 18 16.625 18.3917 16.625 18.875C16.625 19.3583 17.0167 19.75 17.5 19.75Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
      <path d="M1 1H4.45455L6.76909 12.6044C6.84806 13.0034 7.06438 13.3618 7.38016 13.6169C7.69593 13.8719 8.09106 14.0075 8.49636 13.9997H16.8909C17.2962 14.0075 17.6913 13.8719 18.0072 13.6169C18.3229 13.3618 18.5392 13.0034 18.6182 12.6044L20 5.33323H5.31818" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
    </symbol>
    <symbol fill="none" id="icon-account" viewbox="0 0 20 20">
      <path d="m17.55906,19.50394l0,-2c0,-1.0609 -0.4214,-2.0783 -1.1716,-2.8284c-0.7501,-0.7502 -1.7675,-1.1716 -2.8284,-1.1716l-8,0c-1.06087,0 -2.07828,0.4214 -2.82843,1.1716c-0.75014,0.7501 -1.17157,1.7675 -1.17157,2.8284l0,2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
      <path d="m9.55906,9.50394c2.2091,0 4,-1.79086 4,-4c0,-2.20914 -1.7909,-4 -4,-4c-2.20914,0 -4,1.79086 -4,4c0,2.20914 1.79086,4 4,4z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
    </symbol>
    <symbol fill="none" id="icon-search" viewbox="0 0 20 20">
      <path d="M14.7816 13.4539L14.508 13.8026L14.8214 14.1161L19.2929 18.5875L18.5875 19.2929L14.1161 14.8214L13.8026 14.508L13.4539 14.7816C12.0874 15.8536 10.37 16.5 8.5 16.5C4.07614 16.5 0.5 12.9239 0.5 8.5C0.5 4.07614 4.07614 0.5 8.5 0.5C12.9239 0.5 16.5 4.07614 16.5 8.5C16.5 10.37 15.8536 12.0874 14.7816 13.4539ZM1.5 8.5C1.5 12.3636 4.63636 15.5 8.5 15.5C12.3636 15.5 15.5 12.3636 15.5 8.5C15.5 4.63636 12.3636 1.5 8.5 1.5C4.63636 1.5 1.5 4.63636 1.5 8.5Z" fill="currentColor" stroke="currentColor"/>
    </symbol>
    <symbol fill="none" id="icon-filter" viewbox="0 0 19 18">
      <path d="M17.8334 1.5H1.16675L7.83341 9.38333V14.8333L11.1667 16.5V9.38333L17.8334 1.5Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.66667" stroke="currentColor"/>
    </symbol>
    <symbol fill="none" id="icon-close" viewbox="0 0 19 19">
      <path d="M1 1L18 18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
      <path d="M1 18L18 1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
    </symbol>
    <symbol id="icon-back-to-top" viewbox="0 0 98 98">
      <polygon points="71,35 49,13.1 27,35 28.5,36.4 48,16.9 48,84.9 50,84.9 50,16.9 69.5,36.4 "></polygon>
    </symbol>
    <symbol id="icon-next-menu" viewbox="0 0 551.13 551.13">
      <path d="m361.679 275.565-223.896 223.897v51.668l275.565-275.565-275.565-275.565v51.668z"/>
    </symbol>
    <symbol id="icon-prev-menu" viewbox="0 0 551.13 551.13">
      <path d="m361.679 275.565-223.896 223.897v51.668l275.565-275.565-275.565-275.565v51.668z" style="transform: rotate(180deg);transform-origin: center;"/>
    </symbol>
    <symbol fill="none" id="icon-hamburger" viewbox="0 0 20 14">
      <path d="M1 7H19" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
      <path d="M1 1H19" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
      <path d="M1 13H19" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
    </symbol>
  </svg>
</div>
