{% head %}
<link href="/pages/institucional/faq.css" inline rel="stylesheet" type="text/css">
{% endhead %}

{% assign position_full = page.slug | append: '-banner-principal' %}

{% render 'partials/pages/components/page_fullbanner', page: page, position: position_full, background: false, type: '-custom' %}

{% load_banners position: 'perguntas-frequentes-item' %}

<section class="section container faq">
  {% for banner in loaded_banners %}
    <div class="collapse" id="{{ banner.url }}" data-collapse>
      <h3 class="handle" open-collapse>
        {{ banner.subtitle }}
      </h3>
      <div class="content-wrapper">
        <div class="content">
          {{banner.description}}
        </div>
      </div>
    </div>
  {% endfor %}
</section>
