//// CSS VARIABLES ////
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  //// TYPOGRAPHY ////

  --font-family-base: "Poppins", sans-serif;
  --font-color-base: #312f4f;
  --font-weight-base: 500;

  --font-family-title: "Poppins", sans-serif;
  --font-color-title: #312f4f;
  --font-size-title: 2.8rem;
  --font-weight-title: 700;

  --font-size-subtitle: 2.2rem;
  --font-weight-subtitle: 600;

  --font-size-button: 1.3rem;
  --font-weight-button: 600;

  --line-height: 1.5;

  --font-size-small: 1.2rem;
  --font-size-base: 1.4rem;
  --font-size-big: 1.8rem;

  //// COLORS ////
  --transparent: transparent;
  --white: #fff;
  --black: #000;
  --red: #ff0000;

  --gray-1: #f5f5f5;
  --gray-2: #d9d9d9;
  --gray-3: #808080;
  --gray-4: #383838;

  --highlight-1: #d19191;
  --highlight-2: #f2ccc4;

  //////////////////////////////////////////////////////////////////
  //// TRANSITIONS
  //////////////////////////////////////////////////////////////////
  --transition: all 0.4s ease;
}
