.actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 30%;
  @media screen and (max-width: 768px) {
    width: auto;
  }
  > .cart {

  }
  > .account {
    padding-right: 1rem;
  }

  > .cart .btn-cart {
    position: relative;
    transition: opacity 0.1s;
    display: flex;
    &.-loading { opacity: 0.4 }
  }

  > .cart .btn-cart .count {
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    color: var(--white);
    display: flex;
    font-size: 12px;
    height: 16px;
    line-height: 1;
    justify-content: center;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 16px;
  }
}
