.shipping {
  width: 100%;

  > .shipping-form .shipping-title {
    display: flex;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-title);
    line-height: 1;
    margin-bottom: 1rem;
    white-space: nowrap;
  }

  > .shipping-form .field {
    display: flex;
    flex-direction: column;

    @include media("sm") {
      flex-direction: row;
    }
  }

  > .shipping-form .field .input {
    border: 1px solid var(--highlight-1);
    height: 4.2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;

    @include media("sm") {
      margin-bottom: 0;
      margin-right: 1rem;
      width: calc(70% - 1rem);
    }
  }

  > .shipping-form .field .button-default {
    width: 100%;

    @include media("sm") {
      width: 30%;
    }
  }

  > .shipping-list-wrapper .street {
    margin: 2rem 0;
    text-align: center;
  }

  .shipping-list-wrapper .shipping-list {
    font-size: var(--font-size-small);
  }

  > .shipping-list-wrapper .shipping-list .shipping-list-item {
    border: solid var(--highlight-1);
    border-width: 1px 1px 0 1px;
    padding: 1rem;

    &:last-child {
      border-bottom-width: 1px;
    }
  }

  > .shipping-list-wrapper .shipping-list .shipping-list-item .method {
    align-items: center;
    display: flex;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-title);
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}
