@import "../base/mixins";

.product-section {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include media("md") {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .product-wrap {
    display: flex;
    flex-direction: column;

    @include media("md") {
      flex-direction: row;
    }

    .mobile-only {
      display: block;
      @include media("md") {
        display: none;
      }
    }

    .desktop-only {
      display: none;
      @include media("md") {
        display: block;
      }
    }

    .right-container {
      padding-top: 4rem;

      @include media("md") {
        padding-top: 0;
        padding-left: 4rem;
        width: calc(45% - 4rem);
      }
    }

    .left-container {
      @include media("md") {
        width: 55%;
      }
    }
  }

  @import "../content/product/images";
  @import "../content/product/product_name_price";
  @import "../content/product/attributes";
  @import "../content/product/infos";
  @import "../content/product/form_notify";
  @import "../content/product/shipping";
  @import "../components/flag";
}
