@import "../base/mixins";

.footer {
  // padding: 4rem 0 0;
  // background-color: var(--gray-4);
  background-color: #e6886c;
  color: var(--white);

  @import "../content/footer/newsletter";
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-menus {
    width: 100%;
  }
  .phrase {
    margin: 0;
  }
  &-logo {
    img {
      max-width: 180px
    }
  }
  
  @import "../content/footer/social";
  @import "../content/footer/menu";  

  .bottom {
    font-size: var(--font-size-small);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid #fff;
    
    @include media('sm') {
      
      .wrap-infos-loja {
        margin-right: 3rem;
        text-align: center;
      }
    }
  }
}
