@import "../base/mixins";

@import "../content/header/top_bar";

#header {
  align-items: center;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 1rem 0;
  padding-right: 5%;
  padding-left: 5%;
  transition: var(--transition);
  width: 100%;
  z-index: 20;
  left: 50%;
  position: fixed;
  transform: translate(-50%, 0%);
  
  &.on-top{
    top: 1rem;
  }
  &.scroll-down {
    background-color: #ffffff;
    box-shadow: 0 2px 4px #0000001f;
  }

  &.home{
    position: fixed;
  }

  &.home.on-top:not(:hover){
    background-color: transparent;
  }

  > .content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    @include media("md") {
      justify-content: space-between;
    }

    .hamburger-logo {
      display: flex;
      width: 85%;

      .hamburger{
        width: 15%;
      }

      @include media("md") {
        width: 15%;

        .hamburger {
          display: none;
        }
      }
    }
    @import "../content/header/actions";
  }

  @import "../content/header/desktop";
  @import "../content/header/logo";
}

@import "../content/header/mobile";
