@import "../base/mixins";

@import "../content/header/top_bar";

#header {
  display: flex;
  align-items: center;
  background-color: var(--white);
  position: sticky;
  top: 0;
  transition: var(--transition);
  width: 100%;
  height: 6rem;
  padding: 1rem 0;
  z-index: 20;

  &.on-top{
    top: 2.8rem;
  }

  &.home{
    position: fixed;
  }

  &.home.on-top:not(:hover){
    background-color: transparent;
  }

  > .content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    @include media("md") {
      justify-content: space-between;
    }

    .hamburger-logo {
      display: flex;
      width: 85%;

      .hamburger{
        width: 15%;
      }

      @include media("md") {
        width: 15%;

        .hamburger {
          display: none;
        }
      }
    }
    @import "../content/header/actions";
  }

  @import "../content/header/desktop";
  @import "../content/header/logo";
}

@import "../content/header/mobile";
