@import "../content/product/attributes";

.popup-purchase {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity .2s;
  width: 100%;
  z-index: 99;
  
  &.-active {
    opacity: 1;
    pointer-events: all;
  }

  > .background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  > .content {
    background-color: var(--white);
    border-radius: 5px;
    max-height: 90%;
    padding: 2.5rem;
    position: relative;
    width: 90%;
    max-width: 100rem;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @include media("sm") {
      border-radius: 10px;
      padding: 3.2rem;
    }
  }

  > .content .title-popup {
    font-size: var(--font-size-big);
    margin-bottom: 2rem;
  }

  > .content .close {
    color: var(--primary-color);
    cursor: pointer;
    height: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
    z-index: 3;

    @include media("sm") {
      right: 1.5rem;
      top: 1.5rem;
    }

    .icon {
      height: 100%;
      width: 100%;
    }
  }

  > .content .product {
    min-width: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    padding: 0 0.5rem;

    @include media("sm") {
      gap: 4rem;
      grid-template-columns: repeat(2, 1fr);
      overflow-y: unset;
    }
  }

  > .content .product > div:first-child {
    width: 50%;
    margin: 0 auto;
    @include media('sm') {
      width: unset;
      margin: unset;
    }
  }

  > .content .product > div:last-child {
    display: flex;
    flex-direction: column;
  }

  > .content .images {
    padding-bottom: 1rem;
    position: relative;
    width: 100%;

    @import "../components/flag";

    .button-default{
      display: none;
    }

    &:hover {
      .image:nth-child(2) {
        background-color: var(--white);
        opacity: 1;
      }
    }
  }

  > .content .images .image {
    height: 100%;
    position: relative;
    width: 100%;
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    img {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:nth-child(2) {
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity 0.2s;
    }
  }

  > .content .name {
    display: inline-block;
    flex: 1;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    width: 100%;
    @include media("sm") {
      font-size: 2rem;
    }
  }

  > .content .price {
    margin-bottom: 1rem;
    min-height: 4rem;
    width: 100%;

    @include media("sm") {
      margin-bottom: 0;
      width: unset;
    }
  }

  @import "../components/price";

  > .content .add-to-cart {
    display: flex;
    flex: 20;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .attributes {
      gap: 2rem;
    }

    .last-units {
      align-items: center;
      background-color: var(--secondary-color);
      border-radius: 33px;
      color: var(--white);
      display: none;
      font-size: var(--font-size-small);
      font-weight: var(--font-weight-subtitle);
      height: 2.6rem;
      justify-content: center;
      line-height: 1;
      margin-top: 2rem;
      padding: 0.6rem 1rem;
      width: fit-content;

      &.-visible {
        display: flex;
      }
    }

    .description {
      display: none;
      @include media('sm') {
        display: block;
        margin-top: 1.6rem;
        font-size: var(--font-size-small);
      }
    }

    .msg-response {
      display: none;
    }

    .button-default {
      margin-top: 2rem;
      padding: 0.5rem 2rem;
      width: 100%;

      @include media("sm") {
        margin-top: 4rem;
      }
    }
  }

  > .content .more-link {
    margin-top: 0.8rem;
    display: block;
    text-align: center;
    font-size: var(--font-size-small);
    color: var(--primary-color);
    font-weight: var(--font-weight-subtitle);
    text-transform: uppercase;
    text-decoration: underline;
  }
}
