{% load_banners position: 'geral-faixa-topo' limit: 1 %}

{% for banner in loaded_banners %}
  <section class="top-bar" {% if banner.color != blank %} style="--bg-top-bar: {{ banner.color }};" {% endif %}>
    {{ banner.description }}

    <button aria-label="Fechar faixa topo" class="close" data-button-top onclick="this.parentNode.remove();" type="button">
      &times;
    </button>
  </section>
{% endfor %}
