<footer>
  <div class="container">
    <div class="flex top">
      {% render "partials/content/footer/menu_footer" %}
      {% render "partials/content/footer/social" %}
    </div>
    <div class="flex bottom">
      {% render "partials/content/footer/copy" %}
      {% render "partials/content/footer/pagamentos" %}
    </div>
  </div>
</footer>
{% render "partials/content/footer/back_to_top" %}
