@import "../../components/price";

.product-name-price {
  // margin-bottom: 2rem;

  > .name-reference .reference {
    color: var(--secondary-color);
    font-size: var(--font-size-small);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  > .name-reference .name {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-family: 'Rondal';
  }
}
