{% load_tag name: tag_name %}
{% assign tag = loaded_tag %}

  {% if tag and tag != blank %}
  {% load_products tag: tag.name per_page: 3 %}
  {% assign btn_txt = 'VEJA MAIS +' %}

  {% if tag.subtitle %}
    {% assign btn_txt = tag.subtitle %}
  {% endif %}

  <section class="section products grid  section-list-products">
    {% if tag.title != '' %}
      <h2 class="title">
        {{ tag.title }}
      </h2>
    {% endif %}

    <div class="content list-products">
      {% for product in products %}
        {% render 'partials/components/product_block', product: product, lazy: "lazy" %}
      {% endfor %}
    </div>

    {% if pagination != blank %}
      {% if pagination.total_pages > 1 %}
        {% render 'partials/content/tag/pagination', pagination: pagination, infinity: infinity, btn_txt: btn_txt %}
      {% endif %}
    {% endif %}
  </section>

  {% comment %} Popula com as variants dos produtos para o comportamento de seleção de variants {% endcomment %}
  {% body %}
    <script data-product-variants>
      {% for product in products %}
        productVariants['{{ product.id }}'] = {{ product.variants | to_json }};
      {% endfor %}
    </script>
  {% endbody %}
{% endif %}