{% load_banners position: position limit: 4  %}

{% if loaded_banners.size > 0 %}
  <section class="section container">
    <div class="icons">
      {% for banner in loaded_banners %}
        <div class="item">
          <figure class="image-icon">
            <img class="lazy" data-src="{{ banner.file_url | resize: '100x' }}" alt="{{ banner.title }}"/>
            <div class="skeleton"></div>
          </figure>

          <div class="text">
            {% if banner.subtitle != blank %}
              <p>{{ banner.subtitle }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
