<div class="wrap-menu">
  <ul class="menu">
    {% load_menus position: 'rodape' %}
    {% for menu in loaded_menus %}
      <li>
        <a href="{{ menu.url }}" title="{{ menu.title }}">
          {{ menu.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
