
.page-page .depoimentos {
  padding: 0 5%;
  padding-bottom: 50px;
  .title {
    text-align: center;
    padding-bottom: 50px;
  }
  .content-depoimentos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include media("xs") {
      flex-direction: column;
    }
    .item {
      width: 100%;
      padding: 0 20px;
      @include media("xs") {
        margin-bottom: 50px;
      }
      .top {
        text-align: center;
        margin-bottom: 2rem;
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        .left {
          width: 25%;
          position: relative;
        }
        .right {
          padding-left: 25px;
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
