@import "../base/mixins";
@import "../components/carousel";
@import '../content/product/banner';
@import '../content/product/group_shop';

.infos-personalizadas {
    .prod-option {
        .inner {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            margin: 16px 0;
            flex-wrap: wrap;
            input[type="text"] {
                border: 1px solid #000000;
                border-radius: 0;
                cursor: auto;
                outline: none !important;
                height: 36px;
                padding: 5px 10px;
                width: 100%;
            }
            input[type="radio"] {
                display: none;
                position: absolute;
                &:checked {
                    +.label {
                        > .option-image {
                            img {
                                box-shadow: 0 0 5px 1px #f47e62;
                            }
                        }
                    }
                }
            }
            label {
                align-items: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                flex-direction: column;
                span {
                    max-width: 60px;
                    font-size: 12px;
                    text-align: center;
                }
                .option-image {
                    img {
                        min-width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
