@import "../base/mixins";

@import "../content/tag/pagination";

.pagination {
  @include media("md") {
    margin-left: auto;
    width: 80%;
  }
}

.description-in-top {
  width: 80%;
  @media screen and (max-width: 992px) {
    width: 100%;
  }
  .description {
    font-size: 18px;
    color: #000000;
    padding-left: 5%;
  }
}
