<div class="shipping">
  <form class="shipping-form" name="shipping-form">
    <label class="shipping-title" for="cep">
      Calcular frete e prazo
    </label>
    <div class="field">
      <input class="input" maxlength="9" name="cep" placeholder="CEP" required type="text"/>
      <button aria-label="Calcular frete" class="action button-default -outlined" type="submit">calcular</button>
    </div>

    <div class="msg-response">
      <div class="msg-error"></div>
    </div>
  </form>
  <div class="shipping-list-wrapper" data-list-shipping></div>

</div>
