.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .swiper-wrapper {
    -webkit-transition-timing-function:linear!important; 
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important;
  }

  .swiper {
    width: 100%;
  }

  @include media("sm") {
    flex-direction: row;
  }

  .category-item {
    // flex: 1;
    position: relative;
    .image {
      img {
        object-fit: cover;
      }
    }
    &:first-child {
      // margin-bottom: 2rem;

      @include media("sm") {
        margin-bottom: 0;
        // margin-right: 2rem;
      }
    }
  }

  .category-item .image::after {
    padding-bottom: 100%;
  }

  .category-item .text {
    position: absolute;
    z-index: 2;
    bottom: 48px;
    left: 3.5vw;
    color: var(--highlight-1);

    .upper-title {
      display: inline-block;
      padding: 0.5rem;
      background: #c2c2c2;
      border-radius: 5px;
    }
    .title {
      line-height: 1.5;
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 0;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
    .description {
      font-size: 14px;
    }

    @include media("sm") {
      text-align: left;
    }
  }

  .category-item .text .arrow {
    font-size: var(--font-size-base);
    font-weight: 700;
    transition: var(--transition);
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid;
    @media screen and (max-width: 768px) {
      font-size: var(--font-size-small);
    }
    &:hover {
      transform: translateX(1.5rem);
    }

    &:after {
      content: "";
      display: inline-block;
      border-color: var(--highlight-1);
      border-style: solid;
      border-width: 0 2px 2px 0;
      margin: 3px 3px 1px 8px;
      padding: 3px;
      transform: rotate(-45deg);
      transition: var(--transition);
    }
  }
}
