.hightlights {
  h2 {
    text-align: center;
    font-size: 50px;
    margin: 30px 0 10px;
    font-weight: 300;
  }
  > .hightlight-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    width: 100%;

    @include media("sm") {
      flex-direction: row;
    }

    &:last-child {
      margin-bottom: 0;
      gap: 36px;
    }
  }

  > .hightlight-item .image {
    width: 100%;

    &.-custom::after {
      // padding-bottom: 56%;
    }

    @include media("sm") {
      width: 50%;
    }
  }

  > .hightlight-item .text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 175px;
    height: 100%;
    @media screen and (max-width:768px) {
      position: unset;
    }
    @include media("sm") {
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 4rem;
      margin-top: 0;
      text-align: left;
      width: 50%;
      
    }
  }

  > .hightlight-item .text .button-default {
    color: var(--white);
    background-color: var(--hl-color, #312f4f);
    border-color: var(--hl-color, #312f4f);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: fit-content;

    @include media("sm") {
      margin-left: initial;
    }

    &:hover {
      background-color: transparent;
      color: var(--hl-color, #312f4f);
    }
  }

  > .hightlight-item:nth-child(odd) {
    @include media("sm") {
      flex-direction: row-reverse;
    }
  }

  > .hightlight-item:nth-child(odd) .text {
    @include media("sm") {
      margin-left: 0;
      margin-right: 4rem;
    }
  }
}
