.top-bar {
  // background: var(--bg-top-bar, #312f4f);
  background: #FFF;
  height: 2.8rem;
  text-align: center;
  padding: 0.5rem 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  a,
  p {
    // color: var(--white);
    color: #000;
    font-size: var(--font-size-small);
  }

  > .close {
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    // color: var(--white);
    color: #000;
    font-size: 1.6rem;
    right: 5%;
    z-index: 9;
  }
}
