{% load_banners position: 'geral-faixa-topo' limit: 1 %}

{% for banner in loaded_banners %}
  <section class="top-bar" style="color: {{ banner.subtitle }}; background-color: {{ banner.color }};">
    {{ banner.description }}

    <button aria-label="Fechar faixa topo" class="close" data-button-top onclick="this.parentNode.remove();" type="button">
      &times;
    </button>
  </section>
{% endfor %}
