@import "./base/mixins";

// Mmenu Light
@import "../../node_modules/mmenu-light/src/mmenu-light.scss";

// Swiper
$themeColor: var(--highlight-1);
$colors: (
  "white": var(--white),
  "black": var(--black),
);

@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/navigation/navigation.scss";
@import "../../node_modules/swiper/modules/pagination/pagination.scss";
@import "../../node_modules/swiper/modules/lazy/lazy.scss";
@import "../../node_modules/swiper/modules/zoom/zoom.scss";

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 2.5rem;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  color: var(--black);

  &:after {
    font-weight: bold;
  }
}

.swiper-button-next {
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
}
.swiper-button-prev {
  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80% !important;
  left: 10% !important;
}

.swiper-pagination-bullet {
  border: 1px solid var(--black) !important;
  background: transparent !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: var(--black) !important;
  height: 10px !important;
  width: 10px !important;
}
