.back-to-top {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background: var(--black);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--black);
  transition: 0.3s;
  opacity: 0;
  z-index: 2;
  cursor: pointer;

  .icon,
  svg {
    fill: var(--white);
    stroke: var(--white);
    width: 18px;
    height: 18px;
  }

  &.visible {
    opacity: 1;
  }

  &:hover {
    background: var(--white);

    .icon {
      fill: var(--black);
      stroke: var(--black);
    }
  }
}
