/* ==========================================================================
  Estilos bases ou helpers
========================================================================== */
@import "./base/normalize";
@import "./base/variables";
@import "./base/mixins";
@import "./base/base";
@import "./assets_above";

/* ==========================================================================
  Componentes da loja
========================================================================== */
@import "components/product_block";
@import "./common/cart_drawer";

/* ==========================================================================
  Códigos Communs para todas as páginas
========================================================================== */

@import "./common/header";


.lookbook-special {
  display: flex;
  align-items: center;
  justify-content: center;
  .section {
    margin-bottom: 0;
    width: 100%;
  }
    > img {
      max-width: 600px;
      margin-right: 32px;
    }
  .content {
    &.list-products {
      display: flex;
      gap: 16px;
    }
  }
  .pagination,
  .title {
    display: none;
  }
}