/* ==========================================================================
  Estilos bases ou helpers
========================================================================== */
@import "./base/normalize";
@import "./base/variables";
@import "./base/mixins";
@import "./base/base";
@import "./assets_above";

/* ==========================================================================
  Componentes da loja
========================================================================== */
@import "components/product_block";
@import "./common/cart_drawer";

/* ==========================================================================
  Códigos Communs para todas as páginas
========================================================================== */

@import "./common/header";


.lookbook-special {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 32px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  .section {
    width: 100%;
    margin-bottom: 0 !important;
  }
  &__content {
    > img {
      max-width: 100%;
      margin-right: 32px;
    }
  }
  .content {
    &.list-products {
      display: flex;
      gap: 10px;
      overflow: auto;
      margin-left: 10px;
      width: 100%;
      .product-block {
        min-width: 30%;
        max-width: 33%;
        @media screen and (max-width: 768px) {
          min-width: 100%;
          max-width: 100%;
        }
      }
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        margin-left: 0;
        margin-top: 32px;
      }
      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #F5F5F5;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
      }
    }
  }
  .pagination,
  .title {
    display: none;
  }
}

.left-right {
  margin-bottom: 6rem;
  @media screen and (max-width: 768px) {
    margin-bottom: 1rem;
  }
  .universo-lb {
    display: flex;
    gap: 64px;
    align-items: center;
    max-width: 1240px;
    @media screen and (max-width: 768px){
      flex-direction: column;
      gap: 16px;
    }
    &__content {
      width: 100%;
      a {
        &:hover {
          color: var(--highlight-1);
        }
      }
    }
    &__image {
      width: 100%;
    }
  }
}
.right-left {
  margin-bottom: 6rem;
  @media screen and (max-width: 768px) {
    margin-bottom: 1rem;
  }
  .universo-lb {
    align-items: center;
    max-width: 1240px;
    @media screen and (max-width: 768px){
      flex-direction: column;
      gap: 16px;
    }
    display: flex;
    gap: 64px;
    flex-direction: row-reverse;
    &__content {
      width: 100%;
      a {
        &:hover {
          color: var(--highlight-1);
        }
      }
    }
    &__image {
      width: 100%;
    }
  }
}

.section.instagram {
  .image.-square:after {
    padding-bottom: 100% !important;
  }
}

.hamburger-logo {
  display: flex;
  align-items: center;
  @media screen and (max-width:768px) {
    gap: 16px;
  }
  .hamburger {
    .icon {
      color: #FFF;
      @media screen and (max-width: 768px) {
        color: #000000;
      }
    }
  }
}

.campanha-header {
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
    text-align: center;
    p {
      font-size: 48px;
      font-weight: 500;
      letter-spacing: 5px;
      @media screen and (max-width: 768px) {
        font-size: 36px;
      }
    }
    span {
      font-size: 24px;
      display: block;
      max-width: 1024px;
      padding: 16px 0;
      margin: 0 auto;
      font-weight: 400;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}
.hightlights {
  .button-default {
    &.about {
      max-width: 300px;
      margin: 0 auto;
    }
  }

}

.elas-usam-item {
  .image {
    img {
      object-fit: cover;
    }
  }
}

.campanhas-lb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  &__content {
    width: 100%;
    p {
      margin-bottom: 1rem;
    }
  }
  &__image {
    // width: 50%;
    margin: 0 auto;
    // img {
    //    max-width: 700px;
    // }
  }
  &__triple-banner {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__full-banner {
    margin-top: 10px;
  }
}
.flagship-button {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-weight: 500;
}
.a-marca {
  &__content {
    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
  &__full-banner{
    .full-banner{
      margin-bottom: 24px;
      img {
        width: 100%;
      }
    }
  }
  &__double-banner {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    .double-banner {
      &:last-child {
        max-width: 40%;
      }
    }
  }
}