.wrap-menu {
  width: 100%;
  // text-align: center;
  margin: 0 auto;

  .menu {
    margin: 0px auto 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    li {
      flex: 1;
      &:first-child {
        flex: 2;
      }
      a {
        text-decoration: none;
        &.link-is-title {
          font-size: 3rem;
          margin: 0;
          // min-height: 64px;
          padding-bottom: 20px;
          font-family: 'Rondal';
          font-weight: 600;
          display: flex;
        }
        &.only-link {
          font-size: 1.6rem;
          padding-bottom: 12px;
          display: flex;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.menu-footer {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
