.wrap-newsletter {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #da6451;
  padding: 0 3rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fff;

  .left-content {
    border-right: 1px solid #ffffff;
    padding: 35px 0;
    margin-right: 32px;
    width: 100%;
  }
  .right-content {
    width: 100%;
    text-align: left;
    p {
      font-size: 2.2rem;
      font-family: 'Rondal';
      &:not(.phrase) {
        font-size: 1.4rem;
        font-family: 'Gotham Book';
      }
    }
  }
  .title {
    text-align: left;
    margin-bottom: 0;
    text-transform: inherit;
    font-weight: 600;
    font-family: 'Rondal';
  }

  .form {
    margin: 10px 0px;

    > fieldset {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .field {
      background-color: transparent;
      border-bottom: 1px solid #fff;
      display: flex;
      filter: brightness(1.5);
      margin: 0;
      max-width: calc(100% - 10vw);
      min-height: 40px;
      opacity: .75;
      padding: 0;
      width: 100%;
      justify-content: flex-start;
    }

    input {
      border: none;
      width: calc(100% - 3rem);
      background-color: transparent;
      padding-left: 0.5rem;
      color: var(--white);
      &::-webkit-input-placeholder {
        color: #ffffff;
      }
    }

    .btn-primary {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 0.75rem;
      color: var(--white);
      min-width: 3rem;

      .icon {
        width: 2rem;
        height: 2rem;
        color: var(--white);
      }
    }

    .msg-retorno {
      width: 100%;
    }
  }
}
