.logo {
  max-width: 15rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  img {
    height: 5rem;
    width: 18rem;
    object-fit: contain;
    transition: var(--transition);
  }

  .secondary-logo{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
