.top-bar {
  background: var(----secondary-color);
  color: var(--white);
  height: 2.8rem;
  text-align: center;
  padding: 0.5rem 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  a,
  p {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-subtitle);
  }

  > .close {
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.6rem;
    right: 5%;
  }
}
