<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-inner">
      {% render 'partials/content/footer/newsletter', current_shop: current_shop %}
      {% render 'partials/content/footer/social' %}
      {% render 'partials/content/footer/menu' %}
    </div>
  </div>
  <div class="bottom container">
    {% render 'partials/content/footer/text' %}
    <p><a href="//www.vnda.com.br" target="_blank" rel="noopener">Vnda - Tecnologia em E-commerce</a></p>
  </div>
</footer>
