<div id="icons" style="display: none;">
  <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
    {%- comment -%} Redes sociais {%- endcomment -%}
    <symbol id="icon-facebook" viewBox="0 0 24 24">
      <path fill="currentColor" d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0" />
    </symbol>
    <symbol id="icon-instagram" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z" />
    </symbol>
    <symbol id="icon-youtube" viewBox="0 0 24 24">
      <path fill="currentColor" d="M23.495 6.205a3.007 3.007 0 00-2.088-2.088c-1.87-.501-9.396-.501-9.396-.501s-7.507-.01-9.396.501A3.007 3.007 0 00.527 6.205a31.247 31.247 0 00-.522 5.805 31.247 31.247 0 00.522 5.783 3.007 3.007 0 002.088 2.088c1.868.502 9.396.502 9.396.502s7.506 0 9.396-.502a3.007 3.007 0 002.088-2.088 31.247 31.247 0 00.5-5.783 31.247 31.247 0 00-.5-5.805zM9.609 15.601V8.408l6.264 3.602z" />
    </symbol>
    <symbol id="icon-whatsapp" viewBox="0 0 24 24">
      <path fill="currentColor" d="M17.498 14.382c-.301-.15-1.767-.867-2.04-.966-.273-.101-.473-.15-.673.15-.197.295-.771.964-.944 1.162-.175.195-.349.21-.646.075-.3-.15-1.263-.465-2.403-1.485-.888-.795-1.484-1.77-1.66-2.07-.174-.3-.019-.465.13-.615.136-.135.301-.345.451-.523.146-.181.194-.301.297-.496.1-.21.049-.375-.025-.524-.075-.15-.672-1.62-.922-2.206-.24-.584-.487-.51-.672-.51-.172-.015-.371-.015-.571-.015-.2 0-.523.074-.797.359-.273.3-1.045 1.02-1.045 2.475s1.07 2.865 1.219 3.075c.149.195 2.105 3.195 5.1 4.485.714.3 1.27.48 1.704.629.714.227 1.365.195 1.88.121.574-.091 1.767-.721 2.016-1.426.255-.705.255-1.29.18-1.425-.074-.135-.27-.21-.57-.345m-5.446 7.443h-.016c-1.77 0-3.524-.48-5.055-1.38l-.36-.214-3.75.975 1.005-3.645-.239-.375a9.869 9.869 0 01-1.516-5.26c0-5.445 4.455-9.885 9.942-9.885a9.865 9.865 0 017.021 2.91 9.788 9.788 0 012.909 6.99c-.004 5.444-4.46 9.885-9.935 9.885M20.52 3.449C18.24 1.245 15.24 0 12.045 0 5.463 0 .104 5.334.101 11.893c0 2.096.549 4.14 1.595 5.945L0 24l6.335-1.652a12.062 12.062 0 005.71 1.447h.006c6.585 0 11.946-5.336 11.949-11.896 0-3.176-1.24-6.165-3.495-8.411"/>
    </symbol>
    <symbol id="icon-vsco" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12 0C5.376 0 0 5.376 0 12s5.376 12 12 12 12-5.376 12-12S18.624 0 12 0zm11.52 12c0 .408-.023.792-.072 1.176l-2.04-.24c.024-.312.05-.624.05-.936 0-.288-.025-.6-.05-.888l2.04-.24c.072.384.072.744.072 1.128zM.479 12c0-.384.024-.769.049-1.152l2.04.24c-.024.312-.047.6-.047.912s.023.6.047.912l-2.04.24C.479 12.769.479 12.384.479 12zm20.472-3.096l1.921-.72a11.6 11.6 0 01.552 2.232l-2.04.24c-.097-.6-.24-1.2-.433-1.752zM21 12c0 .6-.072 1.176-.167 1.752l-2.017-.455c.071-.409.119-.841.119-1.297s-.048-.912-.119-1.344l2.017-.457c.118.577.167 1.177.167 1.801zm-9 6.456A6.458 6.458 0 015.544 12 6.458 6.458 0 0112 5.544 6.458 6.458 0 0118.456 12a6.442 6.442 0 01-6.429 6.456H12zM12.216 21v-2.064a7.054 7.054 0 002.568-.575l.888 1.872a9.01 9.01 0 01-3.456.767zm-3.936-.791l.912-1.873a6.64 6.64 0 002.568.6V21a8.807 8.807 0 01-3.48-.791zM3 12c0-.624.072-1.224.192-1.824l2.016.456c-.098.45-.146.908-.144 1.368 0 .432.048.864.12 1.272l-2.016.455A8.144 8.144 0 013 12zm8.76-9v2.064a6.91 6.91 0 00-2.544.576l-.888-1.871A9.069 9.069 0 0111.76 3zm3.935.792l-.911 1.872a6.58 6.58 0 00-2.568-.576V3.024c1.248 0 2.424.288 3.479.768zm5.088 4.656a10.156 10.156 0 00-.84-1.608l1.681-1.152a12.7 12.7 0 011.056 2.04l-1.897.72zm-.07 1.296l-2.018.456a6.913 6.913 0 00-1.151-2.352l1.632-1.295c.72.959 1.248 2.015 1.537 3.191zm-3.457-2.256a7.048 7.048 0 00-2.04-1.633l.912-1.871a9.107 9.107 0 012.76 2.208l-1.632 1.296zm-.6-3.744l.96-1.824a12.82 12.82 0 011.896 1.32L18.145 4.8a9.228 9.228 0 00-1.489-1.056zm-.408-.216a10.036 10.036 0 00-1.68-.648l.504-1.992a11.8 11.8 0 012.159.84l-.983 1.8zm-2.16-.768c-.6-.144-1.2-.216-1.824-.239V.479c.793.024 1.584.12 2.328.289l-.504 1.992zm-2.28-.239a10.79 10.79 0 00-1.8.216L9.528.744c.72-.168 1.487-.265 2.28-.265v2.042zm-2.28.334c-.586.167-1.156.384-1.704.649l-.96-1.824a11.655 11.655 0 012.16-.816l.504 1.991zm-2.112.865a9.186 9.186 0 00-1.488 1.032L4.56 3.216c.6-.504 1.224-.936 1.896-1.319l.96 1.823zm.48.264l.888 1.871a7.04 7.04 0 00-2.04 1.608L5.136 6.168a9.422 9.422 0 012.76-2.184zM4.848 6.552l1.608 1.295A6.947 6.947 0 005.304 10.2l-2.016-.456c.312-1.2.84-2.28 1.56-3.192zM3.24 8.4l-1.92-.72c.287-.72.648-1.416 1.08-2.04l1.68 1.176A7.68 7.68 0 003.24 8.4zm-.168.455c-.192.577-.36 1.152-.432 1.776L.6 10.393c.12-.769.288-1.537.553-2.257l1.919.719zm-.456 4.513c.096.6.239 1.2.432 1.776l-1.92.72a10.007 10.007 0 01-.552-2.257l2.04-.239zm.624 2.208c.239.576.528 1.104.84 1.607L2.4 18.336a10.155 10.155 0 01-1.08-2.016l1.92-.744zm.024-1.392l2.017-.456a6.994 6.994 0 001.128 2.376L4.8 17.4a8.855 8.855 0 01-1.536-3.216zm3.432 2.28A6.92 6.92 0 008.76 18.12l-.912 1.872a9.292 9.292 0 01-2.784-2.232l1.632-1.296zm.72 3.815l-.96 1.825a11.61 11.61 0 01-1.896-1.321l1.368-1.535c.456.407.936.744 1.488 1.031zm.408.217c.528.264 1.104.48 1.705.647l-.504 1.992a11.078 11.078 0 01-2.16-.815l.959-1.824zm2.16.768c.576.12 1.176.193 1.8.217v2.039a14.415 14.415 0 01-2.305-.264l.505-1.992zm2.28.216a10.712 10.712 0 001.801-.217l.479 1.992c-.749.168-1.513.264-2.28.287V21.48zm2.257-.336a10.361 10.361 0 001.703-.647l.96 1.824c-.688.35-1.412.623-2.159.815l-.504-1.992zm2.086-.865a9.07 9.07 0 001.488-1.031l1.369 1.535a11.74 11.74 0 01-1.896 1.321l-.961-1.825zm-.479-.263l-.888-1.871a6.93 6.93 0 002.064-1.656l1.606 1.296a9.564 9.564 0 01-2.782 2.231zm3.071-2.592l-1.607-1.296a6.583 6.583 0 001.128-2.376l2.017.456a9.736 9.736 0 01-1.538 3.216zM20.76 15.6l1.92.721a11.12 11.12 0 01-1.079 2.04l-1.682-1.177a8.367 8.367 0 00.841-1.584zm.168-.455c.192-.553.336-1.152.433-1.752l2.039.239c-.11.761-.294 1.508-.551 2.232l-1.921-.719zm.456-9.841l-1.681 1.152c-.358-.49-.76-.947-1.199-1.368l1.368-1.536a14.934 14.934 0 011.512 1.752zM4.2 3.528l1.368 1.536c-.456.408-.84.864-1.2 1.368l-1.68-1.176A9.395 9.395 0 014.2 3.528zM2.664 18.744l1.68-1.152c.36.48.769.937 1.2 1.369l-1.368 1.535a15.178 15.178 0 01-1.512-1.752zm17.16 1.729l-1.368-1.537c.432-.407.841-.863 1.199-1.344l1.682 1.176a14.76 14.76 0 01-1.513 1.705z"/>
    </symbol>
    <symbol id="icon-vimeo" viewBox="0 0 24 24">
      <path fill="currentColor" d="M23.977 6.416c-.105 2.338-1.739 5.543-4.894 9.609-3.268 4.247-6.026 6.37-8.29 6.37-1.409 0-2.578-1.294-3.553-3.881L5.322 11.4C4.603 8.816 3.834 7.522 3.01 7.522c-.179 0-.806.378-1.881 1.132L0 7.197a315.065 315.065 0 003.501-3.128C5.08 2.701 6.266 1.984 7.055 1.91c1.867-.18 3.016 1.1 3.447 3.838.465 2.953.789 4.789.971 5.507.539 2.45 1.131 3.674 1.776 3.674.502 0 1.256-.796 2.265-2.385 1.004-1.589 1.54-2.797 1.612-3.628.144-1.371-.395-2.061-1.614-2.061-.574 0-1.167.121-1.777.391 1.186-3.868 3.434-5.757 6.762-5.637 2.473.06 3.628 1.664 3.493 4.797l-.013.01z"/>
    </symbol>
    <symbol id="icon-twitter" viewBox="0 0 24 24">
      <path fill="currentColor" d="M23.954 4.569a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.691 8.094 4.066 6.13 1.64 3.161a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.061a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.937 4.937 0 004.604 3.417 9.868 9.868 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63a9.936 9.936 0 002.46-2.548l-.047-.02z"/>
    </symbol>
    <symbol id="icon-swarm" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12.367 8.755l.004-.005c-.03-.058-.138-.3-.16-.364v-.002C8.828 1.474 1.314 1.72.128 4.81c-.91 2.373 3.072 8.026 12.24 3.945zM9.9 19.232a11.201 11.201 0 01-.957-4.26c-.964 1.49-1.69 2.987-2.176 4.104-.023.045-.38.93-.482 1.2-.13.33.045.734.383.854.273.104 1.165.42 1.22.45 1.14.374 2.716.84 4.456 1.126a11.001 11.001 0 01-2.445-3.496v.022zm3.99-11.115c5.18-2.306 4.456-6.31 3.116-6.825-1.804-.693-5.08 1.974-3.205 6.62.016.033.09.17.09.205zm9.523 5.069v-.008a6.758 6.758 0 00-3.897-3.624 1.444 1.444 0 00-.51-.09c-.87 0-1.707.723-1.785 1.626-.134 1.506.165 3.04.825 4.516.646 1.46 1.566 2.69 2.75 3.596.31.24.684.36 1.063.36.677 0 1.354-.36 1.623-1.005a6.79 6.79 0 00-.067-5.37zm-3.931 7.732h-.004c-1.445-1.11-2.594-2.6-3.41-4.43-.826-1.86-1.164-3.738-1.004-5.586a3.773 3.773 0 01.438-1.465l-.137.035c-.764.19-1.5.52-2.156.953-.95.625-1.788 1.55-2.15 2.646a4.03 4.03 0 00-.193.93 9.206 9.206 0 003.457 7.927c.684.547 1.92.89 2.93.89.95 0 1.887-.27 2.73-.704.263-.137.84-.493.878-.524a3.681 3.681 0 01-1.38-.66v-.012z"/>
    </symbol>
    <symbol id="icon-rss" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415a3.3 3.3 0 013.293 3.295A3.303 3.303 0 013.283 24C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z"/>
    </symbol>
    <symbol id="icon-pinterest" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12.017 0C5.396 0 .029 5.367.029 11.987c0 5.079 3.158 9.417 7.618 11.162-.105-.949-.199-2.403.041-3.439.219-.937 1.406-5.957 1.406-5.957s-.359-.72-.359-1.781c0-1.663.967-2.911 2.168-2.911 1.024 0 1.518.769 1.518 1.688 0 1.029-.653 2.567-.992 3.992-.285 1.193.6 2.165 1.775 2.165 2.128 0 3.768-2.245 3.768-5.487 0-2.861-2.063-4.869-5.008-4.869-3.41 0-5.409 2.562-5.409 5.199 0 1.033.394 2.143.889 2.741.099.12.112.225.085.345-.09.375-.293 1.199-.334 1.363-.053.225-.172.271-.401.165-1.495-.69-2.433-2.878-2.433-4.646 0-3.776 2.748-7.252 7.92-7.252 4.158 0 7.392 2.967 7.392 6.923 0 4.135-2.607 7.462-6.233 7.462-1.214 0-2.354-.629-2.758-1.379l-.749 2.848c-.269 1.045-1.004 2.352-1.498 3.146 1.123.345 2.306.535 3.55.535 6.607 0 11.985-5.365 11.985-11.987C23.97 5.39 18.592.026 11.985.026L12.017 0z"/>
    </symbol>
    <symbol id="icon-messenger" viewBox="0 0 24 24">
      <path fill="currentColor" d="M0 11.64C0 4.95 5.24 0 12 0s12 4.95 12 11.64-5.24 11.64-12 11.64c-1.21 0-2.38-.16-3.47-.46a.96.96 0 00-.64.05L5.5 23.92a.96.96 0 01-1.35-.85l-.07-2.14a.97.97 0 00-.32-.68A11.39 11.39 0 010 11.64zm8.32-2.19l-3.52 5.6c-.35.53.32 1.14.82.75l3.79-2.87c.26-.2.6-.2.87 0l2.8 2.1c.84.63 2.04.4 2.6-.48l3.52-5.6c.35-.53-.32-1.13-.82-.75l-3.79 2.87c-.25.2-.6.2-.86 0l-2.8-2.1a1.8 1.8 0 00-2.61.48z"/>
    </symbol>
    <symbol id="icon-flickr" viewBox="0 0 24 24">
      <path fill="currentColor" d="M0 12a5.565 5.565 0 005.565 5.564c3.075 0 5.569-2.49 5.569-5.564S8.641 6.436 5.565 6.436A5.566 5.566 0 000 12zm12.866 0a5.565 5.565 0 005.567 5.564C21.496 17.564 24 15.074 24 12s-2.492-5.564-5.564-5.564A5.567 5.567 0 0012.866 12z"/>
    </symbol>
    <symbol id="icon-linkedin" viewbox="0 0 19.102 18.259">
      <path d="M4.336,18.259V5.94H.241V18.259Zm-2.047-14A2.135,2.135,0,1,0,2.316,0a2.134,2.134,0,1,0-.054,4.256h.027Zm4.313,14H10.7v-6.88a2.8,2.8,0,0,1,.135-1,2.241,2.241,0,0,1,2.1-1.5c1.482,0,2.074,1.13,2.074,2.786v6.591H19.1V11.2c0-3.784-2.02-5.545-4.714-5.545A4.078,4.078,0,0,0,10.67,7.726H10.7V5.939H6.6c.054,1.156,0,12.319,0,12.319Z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-tiktok" viewbox="0 0 2859 3333">
      <path d="M2081 0c55 473 319 755 778 785v532c-266 26-499-61-770-225v995c0 1264-1378 1659-1932 753-356-583-138-1606 1004-1647v561c-87 14-180 36-265 65-254 86-398 247-358 531 77 544 1075 705 992-358V1h551z" fill="currentColor"/>
    </symbol>
    {%- comment -%} Fim Redes sociais {%- endcomment -%}
    <symbol id="icon-next" viewBox="0 0 512 512">
      <path fill="currentColor" d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068
			c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557
			l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104
			c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-prev" viewBox="0 0 512 512">
      <path d="M492,236H68.442l70.164-69.824c7.829-7.792,7.859-20.455,0.067-28.284c-7.792-7.83-20.456-7.859-28.285-0.068
			l-104.504,104c-0.007,0.006-0.012,0.013-0.018,0.019c-7.809,7.792-7.834,20.496-0.002,28.314c0.007,0.006,0.012,0.013,0.018,0.019
			l104.504,104c7.828,7.79,20.492,7.763,28.285-0.068c7.792-7.829,7.762-20.492-0.067-28.284L68.442,276H492
			c11.046,0,20-8.954,20-20C512,244.954,503.046,236,492,236z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-down" viewbox="0 0 320 512">
      <path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z" fill="currentColor"></path>
    </symbol>
    <symbol id="icon-unlock-alt" viewbox="0 0 448 512">
      <path d="M400 256H152V152.9c0-39.6 31.7-72.5 71.3-72.9 40-.4 72.7 32.1 72.7 72v16c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24v-16C376 68 307.5-.3 223.5 0 139.5.3 72 69.5 72 153.5V256H48c-26.5 0-48 21.5-48 48v160c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zM264 408c0 22.1-17.9 40-40 40s-40-17.9-40-40v-48c0-22.1 17.9-40 40-40s40 17.9 40 40v48z" fill="currentColor"></path>
    </symbol>
    <symbol fill="none" id="icon-arrow-left" viewbox="0 0 12 21">
      <path d="M10.4727 2.16093L1.74545 10.808L10.4727 19.455" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" stroke="currentColor"/>
    </symbol>
    <symbol fill="none" id="icon-arrow-right" viewbox="0 0 12 21">
      <path d="M1.60001 19.25L10.2667 10.5001L1.60001 1.75011" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" stroke="currentColor"/>
    </symbol>
    <symbol id="icon-cart" viewBox="2 1 16 18"> 
      <path d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z" fill="currentColor"></path> <path d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z" fill="currentColor"></path> <path d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z" fill="currentColor"></path> 
    </symbol>
    <symbol id="icon-account" viewBox="0 0 20 20"> 
      <path d="M10,10.9c2.373,0,4.303-1.932,4.303-4.306c0-2.372-1.93-4.302-4.303-4.302S5.696,4.223,5.696,6.594C5.696,8.969,7.627,10.9,10,10.9z M10,3.331c1.801,0,3.266,1.463,3.266,3.263c0,1.802-1.465,3.267-3.266,3.267c-1.8,0-3.265-1.465-3.265-3.267C6.735,4.794,8.2,3.331,10,3.331z" fill="currentColor"></path> <path d="M10,12.503c-4.418,0-7.878,2.058-7.878,4.685c0,0.288,0.231,0.52,0.52,0.52c0.287,0,0.519-0.231,0.519-0.52c0-1.976,3.132-3.646,6.84-3.646c3.707,0,6.838,1.671,6.838,3.646c0,0.288,0.234,0.52,0.521,0.52s0.52-0.231,0.52-0.52C17.879,14.561,14.418,12.503,10,12.503z" fill="currentColor"></path> 
    </symbol>
    <symbol id="icon-search" viewBox="0 -7 95 95">
      <g stroke="none" stroke-width="1" fill-rule="evenodd" id="g6" transform="translate(-2.0134875,-9.3352602)" style="stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none">
        <path d="m 60.2825,60.279688 c -4.0425,4.042499 -9.42,6.27 -15.13875,6.27 -5.71875,0 -11.0925,-2.227501 -15.135,-6.27 -8.3475,-8.347501 -8.3475,-21.926251 0,-30.27375 4.17375,-4.173751 9.6525,-6.258751 15.135,-6.258751 5.4825,0 10.965,2.08875 15.13875,6.258751 8.3475,8.347499 8.3475,21.926249 0,30.27375 M 79.04,76.385937 64.19375,61.539687 c 8.505,-9.87375 8.1,-24.82125 -1.26,-34.185 -9.80625,-9.80625 -25.77,-9.80625 -35.57625,0 -9.81,9.81 -9.81,25.77 0,35.57625 4.75125,4.75125 11.06625,7.368751 17.78625,7.368751 6.09,0 11.83875,-2.167501 16.39875,-6.10875 l 14.84625,14.84625 c 0.3675,0.367499 0.8475,0.547499 1.32375,0.547499 0.48,0 0.96,-0.18 1.3275,-0.547499 0.73125,-0.731251 0.73125,-1.920001 0,-2.651251" fill="currentColor" id="path4" style="stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none" />
      </g>
    </symbol>
    <symbol fill="none" id="icon-filter" viewbox="0 0 19 18">
      <path d="M17.8334 1.5H1.16675L7.83341 9.38333V14.8333L11.1667 16.5V9.38333L17.8334 1.5Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.66667" stroke="currentColor"/>
    </symbol>
    <symbol fill="none" id="icon-close" viewbox="0 0 19 19">
      <path d="M1 1L18 18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
      <path d="M1 18L18 1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
    </symbol>
    <symbol id="icon-back-to-top" viewbox="0 0 98 98">
      <polygon points="71,35 49,13.1 27,35 28.5,36.4 48,16.9 48,84.9 50,84.9 50,16.9 69.5,36.4 "></polygon>
    </symbol>
    <symbol id="icon-next-menu" viewbox="0 0 551.13 551.13">
      <path d="m361.679 275.565-223.896 223.897v51.668l275.565-275.565-275.565-275.565v51.668z"/>
    </symbol>
    <symbol id="icon-prev-menu" viewbox="0 0 551.13 551.13">
      <path d="m361.679 275.565-223.896 223.897v51.668l275.565-275.565-275.565-275.565v51.668z" style="transform: rotate(180deg);transform-origin: center;"/>
    </symbol>
    <symbol fill="none" id="icon-hamburger" viewbox="0 0 20 14">
      <path d="M1 7H19" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
      <path d="M1 1H19" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
      <path d="M1 13H19" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"/>
    </symbol>
  </svg>
</div>
